<html>
   <head>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
      <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-alpha.4/css/materialize.min.css">
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <script type = "text/javascript" src = "https://code.jquery.com/jquery-2.1.1.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-alpha.4/js/materialize.min.js"></script>

   </head>

   <body>
     <ul id="slide-out" class="sidenav">
       <li><div class="user-view">
         <div class="background">
           <img src="static/img/background.jpg">
         </div>
         <a href="#user"><img class="circle" src="static/img/103074_nerd-png.png"></a>
         <a href="#name"><span class="white-text name">John Doe</span></a>
         <a href="#email"><span class="white-text email">jdandturk@gmail.com</span></a>
       </div>

     </li>
     <ul class="collapsible">
       <li>
         <div class="collapsible-header"><i class="material-icons">compuers</i>computer</div>
         <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
       </li>
       <li>
         <div class="collapsible-header"><i class="material-icons">place</i>Servers</div>
         <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
       </li>
       <li>
         <div class="collapsible-header"><i class="material-icons">whatshot</i>Switches</div>
         <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
       </li>
       <li>
         <div class="collapsible-header"><i class="material-icons">router</i>Routers</div>
         <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
       </li>
       <li>
         <div class="collapsible-header"><i class="material-icons">whatshot</i>Actions</div>
         <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
       </li>
     </ul>

    </ul>
     <a href="#" data-target="slide-out" class="sidenav-trigger"><i class="material-icons">menu</i></a>




     <div class = "yellow">
     </div>
     <div class = "row">


        <div class = "col s2 m4 l12 white">
          <center><h5 class="flow-text">Servidor de Base de Datos</h5></center>

          <div class = "col s2 m4 l4 z-depth-2">
            <center><p>Temperatura del dispositivo</p></center>
            <img src="static/img/img.jpg" alt="Smiley face" width="410" height="200">
          </div>

          <div class = "col s2 m4 l4 z-depth-2">
            <center><p>Temperatura del dispositivo</p></center>
            <img src="static/img/img.jpg" alt="Smiley face" width="410" height="200">
          </div>

          <div class = "col s2 m4 l4 z-depth-2">
            <center><p>Temperatura del dispositivo</p></center>
            <img src="static/img/img.jpg" alt="Smiley face" width="410" height="200">
          </div>

          <div class = "col s2 m4 l4 z-depth-2">
            <center><p>Temperatura del dispositivo</p></center>
            <img src="static/img/img.jpg" alt="Smiley face" width="410" height="200">
          </div>

          <div class = "col s2 m4 l4 z-depth-2">
            <center><p>Temperatura del dispositivo</p></center>
            <img src="static/img/img.jpg" alt="Smiley face" width="410" height="200">
          </div>

          <div class = "col s2 m4 l4 z-depth-2">
            <center><p>Temperatura del dispositivo</p></center>
            <img src="static/img/img.jpg" alt="Smiley face" width="410" height="200">
          </div>




        </div>

     </div>

     <script>
      $(document).ready(function(){
         $('.collapsible').collapsible();
       });
       $(document).ready(function(){
         $('.sidenav').sidenav();
      });
     </script>

    </body>
</html>
